*,
*::before,
*::after {
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 1rem 10%;
  text-align: center;
  background: bisque;
}

dialog {
  margin: auto;
  background: bisque;
}

form {
  display: flex;
  font-weight: bold;
  align-items: start;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  background-color: beige;
}

form button,
.remove-button {
  cursor: pointer;
  align-self: end;
  font-weight: bold;
  border-style: none;
  outline-style: none;
  border: solid black;
  background: burlywood;
}

form button:hover {
  background: beige ;
}

.container {
  gap: 1rem;
  height: 70vh;
  margin: 1rem;
  padding: 1rem;
  display: grid;
  overflow: auto;
  background: beige;
  border: solid black;
  grid-auto-rows: 14.66rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: solid;
  overflow: auto;
}

.new-book {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem 2rem;
  outline-style: none;
  border: solid black;
  background: burlywood;
}