*,
*::before,
*::after {
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 5% 10%;
  text-align: center;
  background: bisque;
}

h1 {
  margin-bottom: 2rem;
}

.container {
  gap: 1rem;
  height: 70vh;
  padding: 1rem;
  display: grid;
  overflow: auto;
  background: beige;
  border: solid black;
  grid-auto-rows: 14.7rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book {
  padding: 1rem;
  border: solid;
  overflow: auto;
}